@charset "UTF-8";
.servicios-index .servicios-titulo-index h1, .tituloConocenos, .tituloServicios h1, .encabezadoContacto h1, .sumateTexto h1 {
  color: #d39b00;
  font-size: 2.2rem;
  font-weight: 700;
  text-align: center; }

.servicios-index .servicios-titulo-index P, .tituloServicios P, .encabezadoContacto p, .sumateTexto p {
  color: #000000;
  text-align: center;
  font-weight: 400; }

.atributo img, .atributob img, .imgContacto, .imgTrabaja {
  -webkit-box-shadow: 10px 10px 21px -10px rgba(0, 0, 0, 0.51);
  -moz-box-shadow: 10px 10px 21px -10px rgba(0, 0, 0, 0.51);
  box-shadow: 10px 10px 21px -10px rgba(0, 0, 0, 0.51); }

/* General */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  font-family: "Work sans";
  overflow-x: hidden; }

section {
  width: 100%;
  height: auto;
  min-height: 100vh; }

.navCustom {
  position: sticky;
  font-weight: 700;
  background-color: black; }
  .navCustom a {
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 0.2em; }
  .navCustom a:hover {
    transform: translateY(-4px);
    transition: all 0.5s ease; }
  .navCustom li {
    margin-left: 10px;
    margin-right: 10px; }
  .navCustom li:hover {
    border-bottom: #d39b00 2px solid; }
  .navCustom .activo {
    border-bottom: #d39b00 2px solid; }

header {
  background-color: black; }

footer {
  font-size: 12px;
  display: flex;
  flex-direction: row nowrap;
  justify-content: space-around;
  align-items: center;
  background-color: #141414;
  border-top: 1px solid white;
  width: 100%; }
  footer .logoFooter {
    margin: 2vh; }
    footer .logoFooter img {
      height: 18vh; }
  footer .datosFooter {
    margin: 10vh; }
  footer .rrss img {
    width: 2vw;
    margin: 0.1vw; }

/* INICIO SECCIÓN INDEX */
.index {
  background-color: black; }

/* carousel principal */
.carousel .carousel-item,
.carousel .fondo-uno,
.carousel .fondo-dos,
.carousel .fondo-tres {
  height: 90vh;
  min-height: 90vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: scroll; }

.carousel .fondo-uno {
  background-image: url("../imagenes/sliderimg.png"); }

.carousel .fondo-dos {
  background-image: url("../imagenes/sliderimg2.png"); }

.carousel .fondo-tres {
  background-image: url("../imagenes/sliderimg4.png"); }

.carousel .carousel-contenedor-caption {
  transform: translateY(-50%);
  top: 50%;
  bottom: initial; }
  .carousel .carousel-contenedor-caption h1 {
    color: #d39b00;
    font-size: 10vh;
    font-weight: 600; }
  .carousel .carousel-contenedor-caption p {
    color: #ffffff;
    font-size: 5vh;
    font-weight: 300;
    margin-bottom: 2vh; }

.carousel .botonIndex {
  background-color: #d39b00; }
  .carousel .botonIndex:hover {
    background-color: black;
    border: 1px solid #d39b00;
    transition: all 0.5s ease; }
  .carousel .botonIndex:hover {
    box-shadow: 0px 15px 20px rgba(129, 129, 129, 0.4);
    transform: translateY(-5px); }

/* qué ofrecemos */
.servicios-index {
  background-image: url("../imagenes/servicios-index.jpg"); }
  .servicios-index .servicios-titulo-index {
    margin-top: 10vh; }
    .servicios-index .servicios-titulo-index h1 {
      margin-bottom: 5vh; }
    .servicios-index .servicios-titulo-index P {
      color: white;
      margin-bottom: 8vh; }
  .servicios-index .servicio-card-index h5 {
    font-size: 1.5rem;
    color: white; }
  .servicios-index .servicio-card-index .btn-card-servicio {
    background-color: #d39b00;
    border-color: #d39b00;
    color: white; }
    .servicios-index .servicio-card-index .btn-card-servicio:hover {
      background-color: black;
      border: 1px solid #d39b00;
      transition: all 0.5s ease; }
    .servicios-index .servicio-card-index .btn-card-servicio:hover {
      box-shadow: 0px 15px 20px rgba(129, 129, 129, 0.4);
      transform: translateY(-5px); }
    .servicios-index .servicio-card-index .btn-card-servicio:active {
      border-color: #d39b00; }

/* Carousel 2 (nuestro valores) */
.carousel-valores {
  background-image: url("../imagenes/valores-home.jpg");
  display: flex;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; }
  .carousel-valores .carousel-valores-titulo {
    font-size: 1rem;
    right: 80%;
    top: 10%;
    text-align: left;
    font-weight: 200;
    min-width: fit-content;
    color: #bebcbc; }
  .carousel-valores .carousel-valores-item {
    bottom: 35%; }
    .carousel-valores .carousel-valores-item div {
      text-align: left; }
      .carousel-valores .carousel-valores-item div h4 {
        font-size: 2rem;
        font-weight: 700;
        color: #d39b00;
        margin-bottom: 1rem; }
      .carousel-valores .carousel-valores-item div p {
        font-size: 1.3rem;
        font-weight: 300; }

/* testimonio */
.testimonio-index {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  font-style: italic;
  font-weight: 300;
  background-image: url("../imagenes/opc5.jpg");
  background-repeat: no-repeat; }
  .testimonio-index img {
    border: white solid 1px;
    display: inline-block; }
  .testimonio-index .testimonio-quote-index {
    display: inline-block;
    border-right: white 1px solid;
    background-color: black;
    padding: 10vh;
    height: fit-content; }
  .testimonio-index .firma-quote {
    font-size: 1rem;
    font-style: normal; }

/* form */
.form-index {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #AC7E00; }
  .form-index button {
    background-color: black; }
    .form-index button:hover {
      background-color: white;
      border: 1px solid black;
      transition: all 0.5s ease; }
    .form-index button:hover {
      box-shadow: 0px 15px 20p;
      color: #AC7E00;
      transform: translateY(-5px); }

/* INICIO SECCIÓN CONOCENOS */
.container-conocenos {
  background-image: url("../imagenes/bg-servicios.jpg"); }

.atributo {
  border-bottom: 1px solid #d39b00;
  border-left: 1px solid #d39b00;
  padding: 4vh; }

.atributob {
  border-bottom: 1px solid #d39b00;
  border-right: 1px solid #d39b00;
  padding: 4vh; }

.textoAtributo h2 {
  color: #d39b00;
  font-weight: 400;
  letter-spacing: 5px;
  font-size: 4vh;
  margin: 4vh 0; }

.textoAtributo p {
  font-size: 1.2rem; }

.formConocenos {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #AC7E00; }
  .formConocenos button {
    background-color: black; }
    .formConocenos button:hover {
      background-color: white;
      border: 1px solid black;
      transition: all 0.5s ease; }
    .formConocenos button:hover {
      box-shadow: 0px 15px 20p;
      color: #AC7E00;
      transform: translateY(-5px); }

/* Nuestros servicios */
.container-nuestros-servicios {
  background-image: url("../imagenes/bg-servicios.jpg"); }

.tituloServicios h1 {
  margin-bottom: 5vh; }

.tituloServicios P {
  color: white; }

.cards-servicio-contenedor {
  margin: 30px 0px 0px 0px;
  padding: 0px; }

.servicio-card {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  align-items: center; }
  .servicio-card h2 {
    color: white;
    text-align: left;
    margin: 30px;
    font-size: 4rem;
    font-weight: 700;
    display: inline-block; }
  .servicio-card p {
    display: inline-block;
    font-size: 1.3rem;
    text-align: left;
    color: white;
    border-left: solid 1px white;
    padding: 2rem; }
  .servicio-card > div {
    width: 50%;
    display: inline-block; }
  .servicio-card .boton-card-servicios {
    display: inline-block;
    bottom: 20%; }

.servicio-menu-item h4 {
  color: #d39b00;
  font-size: 18px; }

.servicio-menu-item p {
  font-size: 12px;
  color: black; }

.comida-servicios {
  background-color: #141414;
  color: white;
  padding: 10vh; }
  .comida-servicios .contenedor-texto-servicio {
    border-right: 1px solid white; }
    .comida-servicios .contenedor-texto-servicio h5 {
      color: #d39b00; }

.contenedor-texto-servicio2 h5 {
  color: #d39b00; }

.dropdown-servicios {
  display: inline-block; }

/* Contacto y presupuesto */
.container-contacto {
  background-image: url("../imagenes/servicios-index.jpg"); }

.encabezadoContacto {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .encabezadoContacto p {
    min-width: 400px;
    margin-left: 2rem;
    display: inline-block;
    text-align: center;
    color: white; }

.formItem {
  margin: 15px 0px;
  color: white; }

.label-form {
  color: white;
  font-size: 14px; }

.botonForm {
  background-color: #d39b00;
  border: none; }
  .botonForm:hover {
    background-color: black;
    border: 1px solid #d39b00;
    transition: all 0.5s ease; }

.radio {
  font: size 10px; }

/* TrabajaConNosotros */
.container-sumate {
  background-image: url("../imagenes/bg-servicios.jpg"); }
  .container-sumate .container-2 {
    background-color: white; }

.sumate {
  border-bottom: 1px #AC7E00 solid; }

.sumateTexto p {
  text-align: center; }

.bajadaFormRrhh {
  margin-bottom: 20px;
  color: #d39b00;
  display: inline-block;
  width: 20%; }

.imgTrabaja {
  margin-bottom: 9.8vh;
  margin-top: 4vh;
  display: inline-block; }
  .imgTrabaja .quote {
    position: absolute;
    background-color: #141414;
    border: 1px solid #d39b00;
    color: white;
    padding: 2vh;
    bottom: 25%;
    font-size: medium;
    width: 40%; }
    .imgTrabaja .quote .quoteBody {
      font-weight: 600; }
    .imgTrabaja .quote .firmaQuote {
      font-size: small; }

.formulario label {
  color: #d39b00; }

.formulario input {
  color: #d39b00;
  border: 1px solid #d39b00; }

.formularioTrabaja {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 60px;
  border: 1px solid #d39b00;
  padding: 20px;
  display: inline-block;
  width: 45%; }

.formItemrrhh label {
  margin: 15px;
  font-size: 16px;
  font-weight: 300; }

.formItemrrhh input {
  margin-left: 10px;
  display: inline-block; }

.comentario {
  width: 100%;
  display: block; }

.oportunidades {
  color: #d39b00; }

.containerCards {
  min-height: 55vh;
  display: flex; }

.cardSumate {
  box-shadow: 0px 2px 2px rgba(129, 129, 129, 0.2);
  max-height: 40vh; }
  .cardSumate:hover {
    transform: translateY(-2px); }
  .cardSumate p {
    padding: 5 0vw; }
  .cardSumate a {
    background-color: white;
    border: #d39b00 1px solid;
    color: #d39b00; }
    .cardSumate a:hover {
      background-color: white;
      border: 1px solid white;
      transition: all 0.5s ease; }
    .cardSumate a:hover {
      box-shadow: 0px 15px 20p;
      color: #AC7E00;
      border: black 1px solid; }

@media only screen and (max-width: 720px) {
  .imgContacto {
    padding-top: 3rem; } }

@media only screen and (max-width: 576px) {
  .carousel-contenedor-caption {
    transform: translateY(-60%);
    top: 50%;
    bottom: initial; }
    .carousel-contenedor-caption .carousel-titulo {
      color: #d39b00;
      font-size: 30vh;
      margin-bottom: 5vh; }
    .carousel-contenedor-caption .carousel-subtitulo {
      font-size: 3vh; }
  .botonForm {
    width: 300px; } }

@media only screen and (max-width: 370px) {
  .imgContacto {
    padding-top: 3rem; } }
